@using TXTextControl.Web.MVC
@using TXTextControl.Web

@Html.TXTextControl().TextControl(settings =>
{
    settings.Dock = DockStyle.Window;
}).Render()


<div class="beta">
    <strong>Text Control Widget</strong> - &copy; Copyright 2018, Text Control
</div>

<script src="~/Scripts/txtextcontrol.web.server.js"></script>